$green-base: hsl(192, 98%, 17%);
$green-shadow: hsl(175, 100%, 50%);
$white-off: #f5fdff;
$blue-light-1: #67bee4;
$blue-light-3: #0794d2;
$brown-highlight: hsl(36, 32%, 42%);
$red-alert: rgb(190, 36, 36);
