.separator {
  width: 90%;
  margin: auto;
  margin-top: 50px;
  color: #014455;
}

.contactEmailContainer {
  color: #014455;
  font-weight: bold;
  text-align: center;
  margin-top: 1rem;
}

.date {
  padding-top: 1rem;
}
