@import './colors.scss';
@import './layout.scss';

.headerContainer {
  padding: 1rem 5rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  background-color: $green-base;

  @include small {
    padding: 0.5rem 1rem;
  }

  .titleContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: start;

    .logo {
      width: 150px;
      height: auto;
      margin: 0;
      cursor: pointer;
    }

    .textContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      text-align: center;
      margin-left: 1rem;

      .title {
        color: $white-off;
        margin: 0 auto;
        font-size: 0.9rem;
      }
    }
  }

  .loginContainer {
    display: flex;
    align-items: center;
    max-width: 7rem;
  }

  .cartContainer {
    display: flex;
    align-self: flex-end;
    justify-content: center;
    flex-direction: column;
    border: 2px solid $white-off;
    margin-right: 1rem;
    height: 37%;
    font-size: 0.9rem;
    padding: 1rem;
    align-items: center;
    color: $white-off;
    > svg {
      font-size: 1.8rem;
    }
  }
}
