@import './layout.scss';
@import './colors.scss';

@import "~fontsource-encode-sans-expanded/100.css";
@import "~fontsource-source-code-pro/500.css";

.link {
    text-decoration: none;
    color: $green-base;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8rem;
    background-color: $white-off;
    padding: 3rem 1rem;
    @include medium {
        flex-direction: column !important;
        margin-top: 3rem;
        background-color: white;
    }
    @include small {
        margin-top: 2rem;
        background-color: white;
    }
}

.pane {
    width: 40%;
    text-align: center;
    @include medium {
        padding-bottom: 2rem;
        width: 60%;
    }
    @include small {
        width: 90%;
    }
}

.image0 {
    grid-row: 2 / span 3;
    grid-column: 2 / span 4;
    z-index: 0;
    height: 100%;
}

.image1 {
    display: none;
    @include grid {
        display: block;
        grid-row: 1  / span 2;
        grid-column: 1 / span 2;
        z-index: 1;
        width: 90%;
        opacity: .9;
        box-shadow: lighten($green-shadow, 80) 5px 5px 10px 0px;
    }
}

.image2 {
    display: none;
    @include grid {
        display: block;
        grid-row: 5 / span 1;
        grid-column: 4 / span 1;
        z-index: 2;
        margin-top: -15%;
        margin-left: -0%;
        width: 120%;
        opacity: .7;
        align-self: start;
        box-shadow: rgba(0,204,255,0.2) 5px 5px 10px 0px;
    }
}

.heading2 {
    font-family: 'Encode Sans Expanded', sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 2rem;
    @include small {
        font-size: 1.6rem;
    }
}

.ctaLink {
    display: inline-block;
    margin-top: 10px;
    color: $brown-highlight;
    font-family: 'Source Code Pro', monospace;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 32px;
    text-decoration: none;
    border-bottom: 5px solid;
}

.imageContainer {
    min-height: 20rem;
    display: grid;
    grid-template-columns: 20% 20% auto 20% 20%;
    grid-template-rows: 20% 20% auto 20% 20%;
}