@import './colors.scss';

.inputContainer {
  position: relative;
  margin: 5px 15px 15px 15px;
}

.input {
  width: 100%;
  border: none;
  color: $green-base;
  background-color: $white-off;
  border: 2px solid $white-off;
  min-height: 2rem;
  padding: 5px 0;
  padding-left: 33px;
}

input:disabled {
  color: gray;
  cursor: not-allowed;
}

input:invalid {
  border: 2px solid $red-alert;
}

.iconContainer {
  position: absolute;
  left: 0.4rem;
  top: 0.4rem;
  color: rgba($green-base, .8);
}
