$breakpoint-medium: 970px;
$breakpoint-small: 570px;

@mixin small() {
  @media only screen and (max-width: $breakpoint-small) {
    @content;
  }
}

@mixin medium() {
  @media only screen and (max-width: $breakpoint-medium) {
    @content;
  }
}

@mixin grid() {
  @supports (display: grid) {
    @content;
  }
}

@mixin portrait() {
  @media screen and (orientation: portrait) {
    @content;
  }
}

@mixin landscape() {
  @media screen and (orientation: landscape) {
    @content;
  }
}
