
@import './colors.scss';
@import './layout.scss';

.root {
  padding: 2px 2px;
  display: flex;
  background-color: $white-off;
  align-items: center;
  justify-content: flex-end;
  width: min-content;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $green-base;
  color: $white-off;
  justify-content: space-evenly;
  cursor: pointer;
  padding: 10px 15px;
}

.email {
  font-size: 2.2rem;
  margin-top: 10px;
  text-transform: uppercase;
}

.icon {
  transition: transform 250ms;
  font-size: 2.5em;
  margin-top: 5px;
  margin-bottom: 5px;
}

.actions {

  position: absolute;
  right: 5rem;
  top: 10rem;
  z-index: 999;

  @include small {
    position: fixed;
    top: 1rem;
    left: 1rem;
    right: unset;
  }

  min-width: 200px;
  background-color: $blue-light-3;
  color: $white-off;
  text-transform: uppercase;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.actions > ul {
  list-style: none;
  margin: 0px;
}

.actions > ul > li {
  cursor: pointer;
  margin: 0px 0px;
  padding: 8px 10px;
  font-size: 0.9em;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.actions > ul > li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.link {
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  color: inherit;
}
