@import '../colors.scss';
@import '../layout.scss';

.profilePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;

  .formContainer {
    display: flex;
    color: $white-off;
    background-color: $white-off;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

.infoText {
  font-size: 0.9rem;
  background-color: $blue-light-3;
  color: $white-off;
  line-height: 1.3;
  padding: 15px 10px;
}

form {
  width: 100%;
  position: relative;
  background-color: $green-base;
  padding-top: 10px;
  margin-bottom: 0;

  fieldset {
    border: none;
  }

  .editContainer {
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
    margin-top: 10px;
  }

  .editButton {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    svg {
      font-size: 1.5rem;
      margin-left: 8px;
    }
  }

  label,
  p {
    margin-left: 10px;
    font-weight: bold;
  }

  p {
    margin-bottom: 0;
  }

  > * input {
    background-color: $blue-light-1;
  }

  > * input[type='text'] {
    width: 100%;
  }
  
  > * input[type='checkbox'] {
    width: auto;
  }

  > * select {
    width: 100%;
  }
}

.subscriptionContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;

  > div {
    margin: 0 15px;
  }

  label {
    margin-left: 25px;
    line-height: 0;
    font-weight: normal;
  }
}

.tabContainer {
  width: 80%;
  position: relative;
  display: flex;
  font-size: 0.9rem;
  background-color: $white-off;
  color: $green-base;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid $green-base;

  .tab {
    text-align: center;
    padding: 10px 5px;
    width: 50%;
  }

  .active {
    background-color: $green-base;
    color: $white-off;
    font-weight: bold;
  }

  .loadingBanner {
    position: absolute;
    background-color: rgba($white-off, 0.8);
    width: 105%;
    top: -1;
    height: 105%;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.participantCardContainer {
  margin: 5px;
  padding: 10px 10px;
  background-color: $green-base;
  width: 80%;
  @include small {
    width: 100%;
  }
  display: flex;
  justify-content: space-between;
  align-items: center;

  .control {
    margin-left: 15px;
  }
}

.submitButtonContainer {
  margin: 1rem auto;
  width: 60%;

  .button {
    width: 100%;
    min-height: 30px;
    background-color: $blue-light-3;
    color: $white-off;
    border: none;
    min-height: 3rem;
    border-radius: 4px;
  }

  .button:disabled {
    cursor: not-allowed;
    background-color: rgba($blue-light-3, 0.3);
  }
}

.hideButtonContainer {
  color: $green-base;
  width: 100%;
  text-align: center;
  text-transform: uppercase;

  .button {
    width: 100%;
    padding: 1rem;
    display: inline-block;
  }
}

@include landscape {
  .submitButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    .button {
    }
  }
}

@include portrait {
  .submitButtonContainer {
    width: 60%;
    .button {
    }
  }
}
