$articleTextColor: #014455;
$titleColor: #699;

.header {
  color: $articleTextColor;
  font-size: 3rem;
  text-align: center;
  margin-top: 2rem;
  cursor: pointer;
}

.link {
  text-decoration: none;
}

.articleContainer {
  display: flex;
  flex-wrap: wrap;
  color: $articleTextColor;

  .imageContainer {
    width: 100%;
  }

  .textContainer {
    width: 100%;

    .title {
      margin-top: 1rem;
    }

    .articleInfo {
      color: $titleColor;
    }

    .imageCredit {
      color: $titleColor;
    }

    .backToBlogContainer {
      display: flex;
      color: $articleTextColor;
      justify-content: center;
      align-items: center;
      margin-top: 2rem;
      cursor: pointer;

      .back {
        font-size: 1.3rem;
        font-weight: bold;
        text-align: center;
        margin: 0 0 0 1rem;
        padding: 0;
      }
    }
  }
}
