$articleTextColor: #014455;

.articleContainer {
  display: flex;
  flex-wrap: wrap;
  color: $articleTextColor;

  .imageContainer {
    width: 100%;
  }

  .textContainer {
    width: 100%;

    .title {
      margin-top: 1rem;
    }
  }
}
